@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Inter', sans-serif;
}
.file-input::file-selector-button {
  color: #fff;
  @apply bg-primary;
}
.lazy-load-image-background.blur.lazy-load-image-loaded {
  width: 100%;
}
